/* Fondo animado hipnotizante */
@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#holder{
  margin-top: 10px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: animateBackground 10s linear infinite; /* Aplicar la animación al fondo */
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #93a5cf, #e4efe9, #93a5cf, #e4efe9);
  overflow: hidden;
}

#form-box {
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo del formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#success{
  margin-top: 10px;
}
#boton{
  margin-top: 10px;
}

/* ... (estilos anteriores) */

.confirmation-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transform: translateY(30px);
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ... (estilos anteriores) */

.confirmation-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transform: translateY(30px);
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

