/* styles.css */
.hypnotic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff00ff, #00ff00, #0000ff, #ff00ff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #caja{
    width: 300px;
    height: 95px;
    background-color: aliceblue;
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100vw; /* Ancho total de la ventana */
  height: 100vh; /* Alto total de la ventana */
  }