.accordion-column {
  text-align: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.accordion-header {
  display: flex;
  align-items: center;
}

.accordion-icon {
  margin-right: 10px; /* Espacio entre la imagen y el texto del título */
  width: 30px; /* Ancho de la imagen */
  height: 30px; /* Altura de la imagen */
}


  #lista {
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      margin-left: 45vh;
    }

    .conteiner{
      animation: animateBackground 10s linear infinite; /* Aplicar la animación al fondo */
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #93a5cf, #e4efe9, #93a5cf, #e4efe9);
  overflow: hidden;
  height: 100vh;
    }